<!DOCTYPE html>
<html>
<head>
	<title>Enter code to activate your account.</title>
</head>
<body>
	<h3>Enter code to activate your account.</h3>
	{%if error_message%}
		<p>
			<strong>{{error_message}}</strong>
		</p>
	{%endif%}
	<form action="/api/codes/verify/" method="POST">
		{% csrf_token %}
		Code: <input type="text" name="code">
		<input type="submit" value="Verify">
	</form>
</body>
</html>