{% extends 'kodibe-base.html' %}
{% block title %}
    Index
{% endblock %}
{% block body %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto login-buttons">
                    {% if user.is_authenticated %}
                      <li class="nav-item" style="margin-right: 10px;">
                        <p style="color: #fff">{{user.email}}</p>
                      </li>
                      <li class="nav-item" style="margin-right: 10px">
                        <a id="logout" href="/accounts/logout" class="btn btn-success">Logout</a>
                      </li>
                    {% else %} 
                        <li class="nav-item" style="margin-right: 10px">
                                {% load socialaccount %}
                                {% providers_media_js %}
                                <a href="{% provider_login_url 'facebook' method='js_sdk' %}" class="btn btn-block btn-social btn-facebook" style="color: #fff; background-color:#3b5998;text-align:center">
                                    <span class="fa fa-facebook"></span>
                                     Login with Facebook!
                                </a>
                        </li>
                        <li style="margin-right: 10px">
                            <a id="google_login" href="/accounts/google/login" class="btn btn-success">
                                Sign in with Google
                            </a>
                        </li>
                        <li class="nav-item" style="margin-right: 10px">
                            <a class="nav-link js-scroll-trigger" data-hover="Login to App." href="{% url 'index' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <header class="bg-primary text-white">
        <div class="container text-center">
            <h1>Welcome to App</h1>
            <p class="lead">A landing page in Bootstrap 4</p>
        </div>
    </header>

    <section id="about">
        <div class="container">
            <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>About this page</h2>
                <p class="lead">This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:</p>
                <ul>
                <li>Clickable nav links that smooth scroll to page sections</li>
                <li>Responsive behavior when clicking nav links perfect for a one page website</li>
                <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>
                <li>Minimal custom CSS so you are free to explore your own unique design options</li>
                </ul>
            </div>
            </div>
        </div>
    </section>

    <section id="services" class="bg-light">
        <div class="container">
            <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Services we offer</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
            </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Contact us</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
            </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
        </div>
        <!-- /.container -->
    </footer>

{% endblock %}