<!DOCTYPE html>
<html>
    <head>
    {% block head %}
        <title>
        {% block title %}
            HTML5 Standard Page
        {% endblock %}
        </title>
        {% block meta %}
            <meta charset="utf-8">
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width">
        {% endblock %}
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.css">
            <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
            <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" type="text/css" href="/static/css/scrolling-nav.css">
            <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        {% endblock %}
        {%block scripts_top %}
            <script src="/static/js/jquery.min.js" type="text/javascript"></script>
            <script src="/static/js/bootstrap.js" type="text/javascript"></script>
            <script src="/static/js/bootstrap.bundle.min.js" type="text/javascript"></script>
        {% endblock %}
    {% endblock %}
    </head>
    <body>
    {% block body %}
        
        {%block scripts_bottom %}
        <script src="/static/js/jquery.easing.min.js" type="text/javascript"></script>
        <script src="/static/js/scrolling-nav.js" type="text/javascript"></script>
        {% endblock %}
    {% endblock %}
    </body>
</html>
